<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="{{ gcb_course_base }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Question Preview</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="assets/lib/activity-generic-1.3.js"></script>

    <link rel="stylesheet" type="text/css" href="assets/css/main.css"/>

    <style type="text/css">
      html, body, .gcb-aside {
        padding: 0;
        margin: 0;
      }
    </style>

    <script>
      var questionData = {};
      $(function() {
        var containerIframe = $(window.parent.document).find("#modal-window iframe");

        {% if question != 'Quizly' %}

         function resizeModal() {
           containerIframe.height(document.body.clientHeight);
	       }

         var containerIframe = $(window.parent.document).find("#modal-window iframe");
	       resizeModal();
	       window.setInterval(resizeModal, 50);

       {% else %}
         containerIframe.height("550px");
       {% endif %}
      });
    </script>
  </head>

  <body>
    <div data-scored="False" data-question-batch-id="Preview" class="gcb-aside">
    {% if question == 'Quizly' %}
      <div style="border:1px solid black; text-align: center; vertical-align:middle;">
        <h2>Quizly Exercise</h2>
        <br><br>
        <h3>Click <a href={{ url }}>here</a> to open the exercise.</h3>
      </div>
    {% else %}
      {{ question }}
    {% endif %}
    </div>
  </body>
</html>
