html {
  width: calc(100% - 30px) !important;
}

.zmdi-eye,
.zmdi-delete {
  cursor: pointer;
}

.zmdi-eye:hover {
  color: #837E7C;
}

.correct {background-color: #ccffcc;}
.complete {background-color: #ccffcc;}
.inprogress {background-color: #ccddcc;}
.notstarted {background-color: #ccaacc;}
.issue {background-color: #ffaacc;}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* Lessons Table in Student Dashboard*/
#lessons-table {
  width: 100%;
}

.lessons-table-lesson {
  width: 25%;
}

.lessons-table-progress {
  width: 15%;
}

.lessons-table-scores {
  width: 10%;
}

.lessons-table-questions {
  width: 50%;
}

.question-attempts {
  width: 100%;
  text-align: center;
}

.question-attempts td:first-child {
  text-align: left;
  font-weight: bold;
}

.student-detail {
  margin: 0;
}

.student-detail-table {
  width: 100%;
  padding: 10px 0;
}

.student-detail-table td {
  background: #eee;
}

#student-detail-section .td-button {
  text-align: center;
  vertical-align: middle;
}

#student-detail-section h2 {
  margin: 8px 0;
}
